<h2 class="d-flex flex-wrap justify-content-center">Loan applications list</h2>
<div class="d-flex flex-wrap justify-content-center">
  <div *ngFor="let item of users" [ngClass]="getClass(item)" class="card border-primary d-flex col-sm-3 m-3 p-0" style="max-width: 18rem;">
    <div class="card-header">{{ item.loanState }}</div>
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">$ {{ item.loan }}</p>
      <p class="card-text">{{ paidState(item) }}</p>
    </div>
  </div>
</div>