<h2 class="d-flex flex-wrap justify-content-center">Apply for a loan</h2>
<div class="d-flex flex-wrap justify-content-center">
  <form class="col-sm-8" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col">
        <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-12">
          <input
            required
            type="text"
            class="form-control"
            id="name"
            placeholder="Nombre"
            formControlName="name"
            [ngClass]="{ 'is-invalid': isSubmitted && form.name.errors }"
          />
          <div *ngIf="isSubmitted && form.name.errors" class="invalid-feedback">
            <div *ngIf="form.name.errors.required">Name is required</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-12">
          <input
            required
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{ 'is-invalid': isSubmitted && form.email.errors }"
          />
          <div *ngIf="isSubmitted && form.email.errors" class="invalid-feedback">
            <div *ngIf="form.email.errors.required">Email is required</div>
            <div *ngIf="form.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="inputId" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-12">
          <input
            required
            type="number"
            class="form-control"
            id="id"
            placeholder="Id"
            formControlName="id"
            [ngClass]="{ 'is-invalid': isSubmitted && form.id.errors }"
          />
          <div *ngIf="isSubmitted && form.id.errors" class="invalid-feedback">
            <div *ngIf="form.id.errors.required">Id is required</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="inputAmount" class="col-sm-2 col-form-label">Amount</label>
        <div class="col-sm-12">
          <input
            required
            type="number"
            minlength="5"
            maxlength="6"
            class="form-control"
            id="loan"
            placeholder="Amount"
            formControlName="loan"
            [ngClass]="{ 'is-invalid': isSubmitted && form.loan.errors }"
          />
          <div *ngIf="isSubmitted && form.loan.errors" class="invalid-feedback">
            <div *ngIf="form.loan.errors.required">Amount is required</div>
            <div *ngIf="form.loan.errors.minlength">The minimun loan value is $10.000</div>
            <div *ngIf="form.loan.errors.maxlength">The maximum loan value is $100.000</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="example-date-input" class="col-2 col-form-label"
          >Date</label
        >
        <div class="col-10">
          <input
            class="form-control"
            type="date"
            value="2011-08-19"
            id="example-date-input"
            disabled
          />
        </div>
      </div>
    </div>

    <div class="col-sm-12">Form Status: {{ profileForm.status }}</div>

    <div class="form-group">
      <div class="col-sm-3">
        <!-- <button type="submit" class="btn btn-primary btn-block">
          Send</button
        > -->
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          
          (click)="loanStudy()"
        >
          Ask for a loan
        </button>
      </div>
    </div>
  </form>
</div>

<!-- Modal -->
<div
  class="modal fade"
  [ngClass]="{show: modalShowClass}"
  [ngStyle]="{display: modalStyle}"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [ngClass]="modalClass" id="exampleModalCenterTitle">{{ state }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ modalDescription }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
